<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:oscache="http://www.springmodules.org/schema/oscache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springmodules.org/schema/oscache http://www.springmodules.org/schema/cache/springmodules-oscache.xsd">
		

	<!--缓存配置
	<oscache:config configLocation="classpath:oscache.properties" id="cacheProvider" />
	<oscache:annotations providerId="cacheProvider">
		<oscache:caching id="caching" cronExpression="0 1 * * *" refreshPeriod="86400" />
		<oscache:flushing id="flushing" />
	</oscache:annotations> -->
	
    
	<!-- 设置需要进行Spring注解扫描的类包 -->
	<!--<context:component-scan base-package="com.dkw" />-->

	<!-- 使用AspectJ方式配置AOP -->
	<!--<aop:aspectj-autoproxy proxy-target-class="true" />-->
	<!--<aop:config proxy-target-class="true" />-->

	<!-- 使用注解方式定义事务 -->
	<!-- <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" /> -->
	<!--====================================action ================================================-->
	<bean id="fenceaction" class="com.bcx.push.FenceAction" scope="singleton">
	</bean>
	<bean id="eleaction"  class="com.bcx.push.EleAction" scope="singleton">
	</bean>
	<bean id="vibrateaction" class="com.bcx.push.VibrationAction" scope="singleton"></bean>
	<bean id="balancepush" class="com.bcx.push.BalanceAction" scope="singleton">
	</bean>
	<bean id="expirepush" class="com.bcx.push.ExpireAction" scope="singleton">
	</bean>
	<bean id="loginaction" class="com.bcx.push.LoginAction" scope="singleton"></bean>
	<bean id="fangcaction" class="com.bcx.push.FchaiAction" scope="singleton"></bean>
	<bean id="otheraction" class="com.bcx.push.OtherAction" scope="singleton"></bean>
	<bean id="chargeaction" class="com.bcx.push.ChargeAction" scope="singleton"></bean>
	<bean id="lowaction" class="com.bcx.push.LowPowerAction" scope="singleton"></bean>
	<bean id="sosaction" class="com.bcx.push.SosAction" scope="singleton"></bean>
	<bean id="speedaction" class="com.bcx.push.SpeedingAction" scope="singleton"></bean>
	<bean id="cardaction" class="com.bcx.push.CardAction"></bean>
	<bean id="switchaction" class="com.bcx.push.SwitchAction"></bean>
	
	<!-- =============牛丁推送=============== -->
	<bean id="ndfence" class="com.nd.push.FenceAction" scope="singleton"/>
	<bean id="ndele"  class="com.nd.push.EleAction" scope="singleton">
	</bean>
	<bean id="ndvibrate" class="com.nd.push.VibrationAction" scope="singleton"></bean>
	<bean id="ndbalance" class="com.nd.push.BalanceAction" scope="singleton">
	</bean>
	<bean id="ndexpire" class="com.nd.push.ExpireAction" scope="singleton">
	</bean>
	<bean id="ndfangc" class="com.nd.push.FchaiAction" scope="singleton"></bean>
	<!-- <bean id="otheraction" class="com.nd.push.OtherAction" scope="singleton"></bean> -->
	<bean id="ndcharge" class="com.nd.push.ChargeAction" scope="singleton"></bean>
	<bean id="ndlow" class="com.nd.push.LowPowerAction" scope="singleton"></bean>
	<bean id="ndsos" class="com.nd.push.SosAction" scope="singleton"></bean>
	<bean id="ndspeed" class="com.nd.push.SpeedingAction" scope="singleton"></bean>
	<bean id="ndcard" class="com.nd.push.CardAction"></bean>

	<!-- =============悟空宝推送=============== -->
	<bean id="wkbfence" class="com.wkb.push.FenceAction" scope="singleton"/>
	<bean id="wkbele"  class="com.wkb.push.EleAction" scope="singleton">
	</bean>
	<bean id="wkbvibrate" class="com.wkb.push.VibrationAction" scope="singleton"></bean>
	<bean id="wkbbalance" class="com.wkb.push.BalanceAction" scope="singleton">
	</bean>
	<bean id="wkbexpire" class="com.wkb.push.ExpireAction" scope="singleton">
	</bean>
	<bean id="wkbfangc" class="com.wkb.push.FchaiAction" scope="singleton"></bean>
	<!-- <bean id="otheraction" class="com.wkb.push.OtherAction" scope="singleton"></bean> -->
	<bean id="wkbcharge" class="com.wkb.push.ChargeAction" scope="singleton"></bean>
	<bean id="wkblow" class="com.wkb.push.LowPowerAction" scope="singleton"></bean>
	<bean id="wkbsos" class="com.wkb.push.SosAction" scope="singleton"></bean>
	<bean id="wkbspeed" class="com.wkb.push.SpeedingAction" scope="singleton"></bean>
	<bean id="wkbcard" class="com.wkb.push.CardAction"></bean>
	
	<!-- =============叮叮宠物推送=============== -->
	<bean id="petfence" class="com.pet.push.FenceAction" scope="singleton"/>
	<bean id="petele"  class="com.pet.push.EleAction" scope="singleton">
	</bean>
	<bean id="petvibrate" class="com.pet.push.VibrationAction" scope="singleton"></bean>
	<bean id="petbalance" class="com.pet.push.BalanceAction" scope="singleton">
	</bean>
	<bean id="petexpire" class="com.pet.push.ExpireAction" scope="singleton">
	</bean>
	<bean id="petfangc" class="com.pet.push.FchaiAction" scope="singleton"></bean>
	<!-- <bean id="otheraction" class="com.pet.push.OtherAction" scope="singleton"></bean> -->
	<bean id="petcharge" class="com.pet.push.ChargeAction" scope="singleton"></bean>
	<bean id="petlow" class="com.pet.push.LowPowerAction" scope="singleton"></bean>
	<bean id="petsos" class="com.pet.push.SosAction" scope="singleton"></bean>
	<bean id="petspeed" class="com.pet.push.SpeedingAction" scope="singleton"></bean>
	<bean id="petcard" class="com.pet.push.CardAction"></bean>
</beans>